<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    </head>
    <body>
        <table>
            <colgroup>
                <col span="1">
            </colgroup>
            <tr>
                <th>Bus Number</th>
                <th>Status</th>
            </tr>
        <% for(let i = 0; i < buses.length; i++) { %> 
            <tr>
                <td><%= buses[i].number %></td>
                <td><%= buses[i].status %></td>
            </tr>
        <% } %> 
        </table>
    </body>
</html>