<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/studentView.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <%- include("include/indexContent") %>
        <script src="js/ejs.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script id="getRender" render="<%= render %>" src='js/indexConnect.js'></script>
    </body>
</html>