<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <script src="/socket.io/socket.io.js"></script>
        <script src='js/indexConnect.js'></script>
        <%- include("include/showTable") %>
        <textarea id='weather'><%= data.weather %></textarea>
    </body>
</html>