<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="content">
            <%- include("include/indexContent") %>
        </div>
        <div id="login"><a href="/admin">Login as editor</a></div>
        <script src="ejs.min.js"></script>
        <script> const render = <%= render %></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src='js/indexConnect.js'></script>
    </body>
</html>