<html>
    <head>
        <meta name="google-signin-client_id" content="319647294384-m93pfm59lb2i07t532t09ed5165let11.apps.googleusercontent.com">
    </head>
    <body>
        <h1>Login to edit bus information</h1>
        <script src="https://apis.google.com/js/platform.js"></script>
        <script src="js/auth.js" type="module"></script>
    </body>
</html>