<tr>
    <td><input class="tableInput" type="number"></td>
    <td><input class="tableInput" type="number"></td>
    <td><input class="tableInput" type="text"></td>
    <td>
        <select class="tableInput" onchange="statusChange(this)">
            <option value="NOT HERE" selected>NOT HERE</option>
            <option value="HERE">HERE</option>
            <option value="LOADING">LOADING</option>
            <option value="GONE">GONE</option>
        </select>
    </td>
    <td class="deleteBus"><i class="fas fa-times" onclick="cancelBus(this)"></i></td>
</tr>