body {
    background-color: #a1b5be;
}

/* Login Button */
.header {
    display: flex;
    padding: 5% 5%;
}

.weather-container {
    width: 50%;
    text-align: left;
}

.login-container {
    
    width: 50%;
    text-align: right;
}

.weather-panel {
    background-color: gray;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

.weather-panel * {
    vertical-align: middle;
    padding: 2%;
    margin: 2% 0;
}

.login-button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 2em;
    background-color: #327fa8;
    color: #ffffff;
    padding: 1.6%;
    /* margin: 0 2%; */
}

/* Table */
.bus-table {
    margin: 0 auto 3%;
    width: 90%;
    border-collapse: collapse;
    font-size: 2.2em;
    font-family: 'Montserrat', sans-serif;
}

.bus-table thead tr {
    background-color: #327fa8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;;
}

.bus-table tbody tr {
    border-bottom: 2px solid #dddddd;
}

.bus-table tbody tr:nth-of-type(even) {
    background-color: #e7e6e6;
}
.bus-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.bus-table tbody tr:last-of-type {
    border-bottom: 4px solid #327fa8;
}

.bus-table tbody tr:hover {
    background-color: #c3ccd3;
}

.bus-table th,
.bus-table td {
    padding: 0.6% 2%;
    width: 25%;
}