body {
    background-color: #a1b5be;
}

.button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    text-decoration: none;
    font-size: 0.8em;
    background-color: #327fa8;
    color: #ffffff;
    padding: 1.5%;
    width: 20%;
}

/* Table */
.buslist-table {
    margin: 0 auto 3%;
    width: 30%;
    border-collapse: collapse;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.buslist-table thead tr {
    background-color: #327fa8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.buslist-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.buslist-table tbody tr:nth-of-type(odd) {
    background-color: white;
}

.buslist-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.buslist-table tbody tr:last-of-type {
    border-bottom: 2px solid #327fa8;
}

.buslist-table tbody tr:hover {
    background-color: #c3ccd3;
}

.buslist-table th,
.buslist-table td {
    height: 1px;
    padding: 1.8% 8%;
    width: 50%;
}

.buslist-table .remove-button, .cancel-button, .confirm-button {
    padding: 5% 8%;
    border-radius: 5px;
}

.buslist-table .add-bus-button {
    padding: 4% 40%;
    border-radius: 5px;
}

.buslist-table .table-button:hover{
    background-color: #55a6d1;
}

.buslist-table .remove-col, .add-bus-cell {
    text-align: center;
}

.buslist-table input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
    text-align: center;
    text-align-last: center;
}

.new-bus-buttons {
    text-align: center;
    /* display: flex;
    justify-content: space-evenly; */
}

.new-bus-input-cell {
    padding: 0 !important;
}
