body {
    background-color: #a1b5be;
}

.button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    text-decoration: none;
    font-size: 1em;
    background-color: #327fa8;
    color: #ffffff;
    padding: 4%;
}

/* Table */
.buslist-table {
    margin: 5%;

    border-collapse: collapse;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.buslist-table thead tr {
    background-color: #327fa8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.buslist-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.buslist-table tbody tr:nth-of-type(odd) {
    background-color: white;
}

.buslist-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.buslist-table tbody tr:last-of-type {
    border-bottom: 2px solid #327fa8;
}

.buslist-table tbody tr:hover {
    background-color: #c3ccd3;
}

.buslist-table th,
.buslist-table td {
    padding: 12px 15px;
    width: 75px;
}

.buslist-table add-bus-row {
    color: #327fa8;
    font-weight: bold;
    /* background-color: rgb(109, 200, 170) !important; */
    text-align: center;
}

.buslist-table .fa-plus:hover {
    background-color: #55a6d1;
}

.buslist-table .remove-button {
    padding: 8px 10px;
    border-radius: 5px;
}

.buslist-table .remove-button:hover {
    background-color: #55a6d1;
}

.buslist-table .remove-col {
    width: 30px;
    text-align: center;
}

